* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="checkbox"]:focus,
label {
  outline: none;
}
img,
label,
input[type="checkbox"] {
  cursor: pointer;
}
.main-container {
  margin-top: 2rem;
  padding: 0 50px;
  width: 50%;
  height: 500px;
  border: 2px solid #000000;
  display: flex;
}
.form,
.images {
  flex: 1 1 50%;
}
.svg-path {
  flex: 1 1 50%;
}
.form {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* button {
  width: 100px;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  color: #ffffff;
} */
label {
  display: inline-block;
  width: 120px;
  padding: 5px 5px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  position: absolute;
  border: 2px solid red;
  bottom: 5px;
}
#labelA {
  background-color: #9cba58;
  border: 2px solid #718a39;
}
#labelB {
  background-color: #c0504e;
  border: 2px solid #833c3a;
}
#labelC {
  background-color: #fc9644;
  border: 2px solid #af6d39;
}
#labelD {
  background-color: #8165a2;
  border: 2px solid #574d66;
}
#labelE {
  background-color: #4aacc5;
  border: 2px solid #48777f;
}

.form > aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
img {
  border: 2px solid blue;
  width: 63.33%;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
}
.car-img {
  width: 100%;
}
.ice-cream-img {
  width: 44%;
}
.img-input-2 {
  position: relative;
  top: 8px;
}
.img-input-3,
.img-input-4,
.img-input-5 {
  position: relative;
  top: 15px;
}
/* hidding default checkbox */
input[type="checkbox"] {
  opacity: 0;
  width: 25px;
  height: 20px;
  position: relative;
  top: 5px;
  left: 12px;
  z-index: 1;
}
label {
  position: relative;
}
/* Create a custom checkbox */
input[type="checkbox"] + span:before {
  border: 3px solid #000000;
  content: "";
  display: inline-block;
  height: 16px;
  padding: 0;
  vertical-align: top;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  right: 20px;
}
/* When the checkbox is checked, add a green background */
/* input[type="checkbox"]:checked + span:before {
  background: green;
  content: "";
} */

/* #inputA:checked + span::before {
  background: green;
  content: "";
}
#inputF:checked ~ span::before {
  background: red;
  content: "";
} */
/* special span class for color change */
/* input[type="checkbox"]:checked + span.special:before {
  background: red;
  content: " ";
} */

/* selecting first five checkbox's */
.input-1,
.input-2,
.input-3,
.input-4,
.input-5 {
  top: -1px !important;
}

/* selecting last five checkbox's */
.input-6
/* .input-7,
.input-8,
.input-9,
.input-10 */ {
  top: -33px !important;
}
.input-7 {
  top: -30px !important;
}
.input-8 {
  top: -28px !important;
}
.input-9 {
  top: -31px !important;
}
.input-10 {
  top: -19px !important;
}
/* checkmark classes */
.checkmark-6,
.checkmark-7,
.checkmark-8,
.checkmark-9,
.checkmark-10 {
  position: relative;
}

.checkmark-6 {
  top: 22px;
}
.checkmark-7 {
  top: 26px;
}
.checkmark-8 {
  top: 30px;
}
.checkmark-9 {
  top: 33px;
}
.checkmark-10 {
  top: 29px;
}
